<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saku.sekolah">

    <application
        android:allowBackup="true"
        android:icon="@drawable/saku"
        android:label="@string/app_name"
        android:roundIcon="@drawable/saku"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".LihatNotifikasiActivity"></activity>
        <activity android:name=".ui.keuangan.RiwayatActivity" />
        <activity android:name=".ui.keuangan.RincianActivity" />
        <activity android:name=".ui.keuangan.MetodePembayaranActivity" />
        <activity android:name=".ui.keuangan.LaporanDeposit" />
        <activity android:name=".ui.keuangan.DepositActivity" />
        <activity android:name=".ui.keuangan.PiutangActivity" />
        <activity android:name=".AkademikActivity" />
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".AbsensiActivity" />
        <activity android:name=".ui.beranda.PelajaranActivity" />
        <activity android:name=".ui.beranda.NilaiActivity" />
        <activity android:name=".ui.beranda.RaportActivity" />
        <activity android:name=".ui.beranda.EkskulActivity" />
        <activity android:name=".ui.beranda.PrestasiActivity" />
        <activity android:name=".ui.beranda.DetailBeritaActivity" />
        <activity android:name=".ui.beranda.BeritaActivity" />
        <activity android:name=".ui.beranda.InformasiActivity" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>